@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap');

@font-face {
	font-family: "SanFranciscoBlack";
	src: url("fonts/SF-Pro-Display-Black.otf");
}

@font-face {
	font-family: "SanFrancisco";
	src: url("fonts/SF-Pro-Display-Regular.otf");
}

.robotoBlack {
	font-family: "Roboto", sans-serif;
}

#titlebar {
	top: -60px;
	position: relative;
	display: flex;
	flex-direction: row-reverse !important;
	height: 50px;
}

.tb-space {
	margin: 20px;
}

.robotoFont {
	font-family: "SanFrancisco" ,"Roboto", sans-serif;
}
/* Old button
.neubutton {
	background-color: red;
	color: white;
	border-color:transparent;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
	margin-left: 10px;
}

.neubutton:hover {
	background-color: greenyellow;
}

.neubutton:active {
	background-color: green;
}
*/

.neubutton { /* Adapted from projectItem */
	border: 1px solid lightgray;
	border-radius: 20px;
	font-family: "Roboto", sans-serif;
	position: relative;
	background-color: #ffffff;
	transition: box-shadow 0.1s linear;
	text-decoration: none !important;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 50px;
	margin-right: 10px;
}
.neubutton:hover {
	box-shadow:  5px 5px 10px #d9d9d9, 
			 -5px -5px 10px #ffffff;
	cursor: pointer;
}

.topnavdiv {
	margin: 0;
	border: 3px solid black; /* Use Black if they cant use the animation. */
	border-radius: 5px;
}

.topnav {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 98%;
	position: absolute;
	top: 25px;
}

.ikeacattitle {
	position: static;
	font-family: "Inconsolata", sans-serif;
}

.projects {
	position: relative;
	transition: all 2.5s ease 2s;
}
/*
.projects.hide {
	animation: makesmall 2s;
	animation-iteration-count: 1;
}
.projects.stayHidden {
	width: 0px !important;
}

@keyframes makesmall {
	0% {width: initial;}
	100% {width: 0px !important;}
}
*/

.projectstitle {
	font-size: 60px;
	font-family: "SanFranciscoBlack", "Roboto", sans-serif;
}
.projectstitle.bigger {
	font-size: 100px !important;
}
/* Old way to present a project item.
.projectItem {
	border: 4px solid black;
	background-color: #a0b7bd;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 30px;
	height: 40px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	animation: borderColorAni 10s infinite;
	padding-left: 20px;
	border-radius: 15px;
	transition: all 1s ease-in-out 0s;
}
*/

/* New way. */

.projectItem {
	border: 1px solid lightgray;
	height: 200px;
	width: 400px;
	border-radius: 20px;
	overflow: hidden;
	word-wrap: wrap;
	font-family: "Roboto", sans-serif;
	padding: 20px;
	position: relative;
	background-color: #ffffff;
	transition: box-shadow 0.1s linear;
	text-decoration: none !important;
	margin-right: 15px;
	margin-bottom: 15px;
}
.projectItem:hover {
	box-shadow:  5px 5px 10px #d9d9d9, 
			 -5px -5px 10px #ffffff;
	cursor: pointer;
}

.projectItemSmallPic {
	width: 40px;
	height: 40px;
	position: relative;
}

hr {
	animation: borderColorAni 10s infinite;
}

@keyframes borderColorAni {
	0% {border-color: red;}
	20% {border-color: orange;}
	40% {border-color: yellow;}
	60% {border-color: lightgreen;}
	80% {border-color: blue;}
	95% {border-color: purple;}
	100% {border-color: red;}
}

.textSpacePicture {
	left: 8px;
	position: relative;
}

.bigtitle {
	font-size: 100px;
	position: relative;
	left: 20px;
	font-family: "Inconsolata", sans-serif;
}

#title {
	position: relative;
	margin-top: 0px;
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	border: transparent;
	flex-direction: column;
	height: 320px;
	z-index: 1;
}

.bgimg {
	background-image: url("pics/profilepic.jpg");
	background-size: 320px 100%;
	height: 320px;
	width: 100%;
	position: absolute;
	background-size: 100%;
	background-position: 0% 40%;
	filter: blur(0.75rem);
	-webkit-filter: blur(0.75rem);
	z-index: 0;
}
.bgimg.solidcolor {
	background-image: none;
}

.imgNameComposite {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#profilepic {
	border-radius: 100%;
	height: 150px;
	width: 150px;
}

.igiprojPP {
	border-radius: 100%;
	height: 150px;
	width: 150px;
	margin-right: 20px;
}

.projectPageTitle {
	font-size: 80px;
	font-family: "SanFranciscoBlack", "Roboto", sans-serif;
}

.projectPageFlexRow {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.githubmark {
	width: 120px;
	height: 120px;
}

a {
	text-decoration: none;
	color: inherit;
}

.noLinkAvaliable {
	background-color: #eb4034;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
}

.flexsocials {
	display: flex;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.socialgithub {
	height: 100px;
}

.projectImages {
	width: 500px;
	margin-left: 15px;
	border: 5px solid white;
	animation: borderColorAni 10s infinite;
	border-radius: 20px;
	margin-bottom: 10px;
}

.imagesRow {
	margin-bottom: 20px;
	flex-wrap: wrap;
}

.githubPagesMark {
	width: 400px;
	margin-left: 10px;
}

.projectLemon {
	width: 150px;
	margin-right: 20px;
}

.smallProfile {
	width: 40px !important;
	height: 40px !important;
	margin-right: inherit !important;
}

.dot {
	border-radius: 100%;
	height: 20px;
	width: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.reddot { /* Development Final */
	background-color: red !important;
}
.greendot { /* Development In Progress */
	background-color: #44ff00 !important;
}
.yellowdot { /* Development Paused */
	background-color: yellow !important;
}

.indicator {
	font-size: 20px;
}
.indicator.paused {
	background-color: yellow;
}
.indicator.final {
	background-color: red;
}
.indicator.inprogress {
	background-color: #44ff00;
}

.filteredOut {
	display: none !important;
}

.the404title {
	font-size: 160px !important;
	margin-bottom: 5px;
	margin-top: 15px;
}

.the404centerflex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.noOverflow {
	overflow-y: auto !important;
}

.rowWrapFlex {
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 10px;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.projectDesc {
	color: #586069;
}

.lang {
	font-family: "Roboto", "Helvetica", "Ariel", sans-serif;
	margin-bottom: 5px;
	position: static;
	display: inline-block;
	font-size: 40px;
}
.lang.javascript {
	background-color: #f0db4f;
}
.lang.css {
	background-color: #2965f1;
}
.lang.html {
	background-color: #F16529
}
.lang.python {
	background-color: #306998;
}
.lang.swift {
	background-color: #ffac45;
}
.lang.block {
	width: 24px;
	height: 24px;
	border: none;
}
.lang.hsml.first {
	margin-left: 10px;
}
.lang.hsml.notfirst {
	margin-left: 5px;
}

.langrow {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 8px;
}

.SanFranciscoBlack {
	font-family: "SanFranciscoBlack", "Roboto", sans-serif;
}

.indicator-lang-row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.projectSubheads {
	font-size: 68px;
	margin-bottom: 10px;
	margin-top: 15px;
	font-family: "SanFrancisco", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	text-decoration: underline;
	text-decoration-style: double;
	text-decoration-thickness: 2px;
}

.obviousLink {
	color: blue;
	text-decoration: underline;
}